{% extends "layout_mini.html.twig" %}
{% import "macros/_macro_meta_tags.html.twig" as macroMetaTags %}

{% set meta_title %}{{ 'core.interactive.meta.title'|trans }}{% endset %}

{% set meta_description %}
{{ 'core.interactive.meta.description'|trans }}
{% endset %}

{% set meta_url %}
{{ url('core_interactive') }}
{% endset %}

{% block title %}
    {{ meta_title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ macroMetaTags.meta_tags(meta_title, meta_description, meta_url ) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/interactive.css') }}" />

    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Cagliostro' rel='stylesheet' type='text/css'>

    <!-- Webfont loader, so we can use it later in the app -->
    <script>
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];

            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
{% endblock %}

{% block body %}
	<div id="canvasContent"></div>

    <div id="wrapper" class="container" role="main">
        <div class="row">
            <h3>
            	{{ 'core.interactive.intro'|trans|nl2br }}
            </h3>
        </div>

        <div class="row hidden-md hidden-lg">
        	<hr />

        	<div class="alert alert-danger">
        		{{ 'core.interactive.handheld.warning'|trans|nl2br }}
        	</div>

        	<div class="alert alert-warning" id="handleTurn">
	            <img src="http://assets.fhuszti.tech/cv/interactive/turnPhone.png" alt="{{ 'core.interactive.handheld.turn.alt'|trans }}" />
	            
                <p>
	                {{ 'core.interactive.handheld.turn.message'|trans }}
	            </p>
	        </div>
        </div>

        <hr />

        <div class="row" id="title">
            <h1><i class="name">François HUSZTI</i></h1>

            <h2 class="hidden-xs hidden-sm">
            	{{ 'core.interactive.title.desktop'|trans }}
            </h2>
            <h2 class="hidden-md hidden-lg">
            	{{ 'core.interactive.title.handheld'|trans }}
            </h2>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <aside class="panel panel-success">
                    <div class="panel-heading">
                        <h3>
                        	{{ 'core.interactive.controls.title'|trans }}
                        </h3>
                    </div>
                    <div class="list-group">
                        <div class="hidden-xs hidden-sm">
	                        <p class="list-group-item right-align">
	                            <button type="button" class="btn btn-default pull-left">
	                                <span class="glyphicon glyphicon-arrow-left"></span>
	                            </button>
	                            <button type="button" class="btn btn-default pull-left">
	                                <span class="glyphicon glyphicon-arrow-right"></span>
	                            </button>
	                            
	                            {{ 'core.interactive.controls.lateral_arrows'|trans }}
	                        </p>

	                        <p class="list-group-item right-align">
	                            <button type="button" class="btn btn-default pull-left">
	                                <span class="glyphicon glyphicon-arrow-up"></span>
	                            </button>
	                            
	                            {{ 'core.interactive.controls.up_arrow'|trans }}
	                        </p>
                        </div>

                        <div class="visible-xs-block visible-sm-block">
	                        {% for i in 0..1 %}
	                        	<p class="list-group-item">
	                        		{{ ('core.interactive.controls.handheld.' ~ i)|trans }}
	                        	</p>
	                        {% endfor %}
                        </div>

                        <p class="list-group-item right-align">
                            {{ 'core.interactive.controls.last'|trans }}
                        </p>
                    </div>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-6">
                <aside class="panel panel-info">
                    <div class="panel-heading">
                        <h3>
                        	{{ 'core.interactive.more.title'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for i in 0..2 %}
                        	<p>
                        		{{ ('core.interactive.more.content.' ~ i)|trans|striptags('<a><i><em>')|raw|nl2br }}
                        	</p>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <script>
	    var assetsBaseDir = "{{ asset('../assets/interactive/') }}",
	    	userLang = (document.getElementsByTagName("html")[0].getAttribute('lang') === 'fr') ? 'fr' : 'en';
	</script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../assets/interactive/js/phaser.min.js') }}"></script>

    <!--
        Yeah, I know, this is horrendous. I just don't have the time to make Phaser work with WebPack right now and I'm waiting for Phaser v3 (should be coming out mid-January 2018) to re-do the whole thing anyway.
    -->
    <script src="{{ asset('../assets/interactive/js/game/gameMethods.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/gameVariables.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Boot.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Preload.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Hub/logic/player/HubPlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Hub/logic/visuals/HubVisualsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Hub/logic/HubManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Hub/Hub.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Academics/logic/content/AcademicsContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Academics/logic/player/AcademicsPlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Academics/logic/visuals/AcademicsVisualsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Academics/logic/AcademicsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Academics/Academics.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/logic/content/ContactContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/logic/player/ContactPlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/logic/player/ContactUpdatePlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/logic/visuals/ContactVisualsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/logic/ContactManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Contact/Contact.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/config/ExperienceConfigManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/content/ExperienceContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/content/ExperienceUpdateContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/player/ExperiencePlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/visuals/ExperienceVisualsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/logic/ExperienceManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Experience/Experience.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/config/SkillsConfigManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/content/SkillsContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/content/SkillsUpdateContentManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/player/SkillsPlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/player/SkillsUpdatePlayerManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/logic/visuals/SkillsVisualsManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Frameworks/logic/FrameworksManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Frameworks/Frameworks.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Languages/logic/LanguagesManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Languages/Languages.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Others/logic/OthersManager.js') }}"></script>
    <script src="{{ asset('../assets/interactive/js/game/State/Skills/Others/Others.js') }}"></script>

    <script src="{{ asset('build/js/interactive.js') }}"></script>
{% endblock %}
