<div class="row last-row">
    <div class="col-xs-12" id="academics">
        <h3>
            {{ 'core.resume.academics.title'|trans }}
        </h3>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="https://openclassrooms.com/" title="{{ 'core.resume.academics.oc.link_title'|trans }}" target="_blank" rel="noopener noreferrer">
                {{ 'core.resume.academics.oc.title'|trans|striptags('<i>')|raw }}
            </a>
            
            <span class="right-pull">
                2016-2017
            </span>
            
            <span class="normalWeight">
                {{ 'core.resume.academics.oc.description'|trans }}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            {{ 'core.resume.academics.uni.title'|trans|striptags('<i>')|raw }}

            <span class="right-pull">
                2014-2015 
            </span>

            <span class="normalWeight">
                {{ 'core.resume.academics.uni.description'|trans|striptags('<i>')|raw }}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            {{ 'core.resume.academics.prepa.title'|trans|striptags('<i>')|raw }}

            <span class="right-pull">
                2012-2013
            </span>

            <span class="normalWeight">
                {{ 'core.resume.academics.prepa.description'|trans }}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            {{ 'core.resume.academics.bac.title'|trans|striptags('<i>')|raw }}

            <span class="right-pull">
                2012
            </span>

            <span class="normalWeight">
                {{ 'core.resume.academics.bac.description'|trans|striptags('<i>')|raw }}
            </span>
        </p>
    </div>
</div>
