<div class="row">
    <div class="col-xs-12" id="experience">
        <h3>
            {{ 'core.resume.experience.title'|trans }}
        </h3>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="http://www.udem37.fr/" title="&ldquo;{{ 'core.footer.projects.udem37.link_title'|trans }}&rdquo;" target="_blank" rel="noopener noreferrer">
                &ldquo;{{ 'core.footer.projects.udem37.title'|trans }}&rdquo;
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.udem37.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..1 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.fifth.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="http://nao.fhuszti.tech/" title="&ldquo;{{ 'core.footer.projects.nao.link_title'|trans }}&rdquo;" target="_blank" rel="noopener noreferrer">
                &ldquo;{{ 'core.footer.projects.nao.title'|trans }}&rdquo;
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.nao.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..1 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.fourth.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="http://louvre.fhuszti.tech/{{ app.request.locale }}/" title="&ldquo;{{ 'core.footer.projects.louvre.link_title'|trans }}&rdquo;" target="_blank" rel="noopener noreferrer">
                &ldquo;{{ 'core.footer.projects.louvre.title'|trans }}&rdquo;
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.louvre.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..2 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.third.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="http://microcms.fhuszti.tech/" title="&ldquo;{{ 'core.footer.projects.microcms.link_title'|trans }}&rdquo;" target="_blank" rel="noopener noreferrer">
                &ldquo;{{ 'core.footer.projects.microcms.title'|trans }}&rdquo;
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.microcms.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..3 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.second.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="{{ path('core_interactive') }}" title="{{ 'core.header.interactive.link_title'|trans }}">
                {{ 'core.header.interactive.title'|trans }}
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.interactive.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..1 %}
                    <span class="label label-success">
                        {{ ('core.resume.experience.interactive.description.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs visible-sm">

        <p>
            <a href="http://tours.fhuszti.tech/" title="&ldquo;{{ 'core.footer.projects.tours.link_title'|trans }}&rdquo;" target="_blank" rel="noopener noreferrer">
                &ldquo;{{ 'core.footer.projects.tours.title'|trans }}&rdquo;
            </a>
            <span class="right-pull">
                {{ 'core.resume.experience.tours.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..2 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.first.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
    </div>
</div>
