{% set layout_mini = false %}
<!-- Main layout, with a 50px header and a footer -->
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
	  	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	  	<title>
	  		{% block title %}
	  			{{ 'core.site.title'|trans }}
	  		{% endblock %}
	  	</title>

	  	{% block meta %}
	  	{% endblock %}

	  	<link rel="shortcut icon" href="http://assets.fhuszti.com/favicon.ico" type="image/x-icon" />

	  	{% block stylesheets %}
		  	{% stylesheets filter='cssrewrite, ?scssphp'
		  		'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
		  		'bundles/app/css/main.css'
		  		'bundles/app/css/header.css'
		  		'bundles/app/css/footer.css' %}
		  		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
		  	{% endstylesheets %}
	  	{% endblock %}

	  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>

	<body role="document">
	  	{{ include('header.html.twig') }}

	  	<div id="wrapper" class="container-fluid" role="main">
		    {% block body %}
		    {% endblock %}
	    </div>

	    {{ include('footer.html.twig') }}

	  	{% block javascripts %}
	  		{% javascripts filter='?jsqueeze'
		  		'//code.jquery.com/jquery-3.2.1.min.js'
		  		'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %}
		  		<script type="text/javascript" src="{{ asset_url }}"></script>
		  	{% endjavascripts %}
	  	{% endblock %}
	</body>
</html>
