{% extends "layout.html.twig" %}
{% import "macros/_macro_meta_tags.html.twig" as macroMetaTags %}

{% set meta_title %}{{ 'core.resume.meta.title'|trans }}{% endset %}

{% set meta_description %}
{{ 'core.resume.meta.description'|trans }}
{% endset %}

{% set meta_url %}
{{ url('core_resume') }}
{% endset %}

{% block title %}
    {{ meta_title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ macroMetaTags.meta_tags(meta_title, meta_description, meta_url ) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/resume.css') }}" />
{% endblock %}

{% block body %}
	<div class="row" id="resumeContainer">
        {% include 'core/resume/blocks/_main_content.html.twig' %}

        {% include 'core/resume/blocks/_quick_look.html.twig' %}
    </div>
{% endblock %}
