<div class="col-xs-12 col-sm-8" id="mainContent">
    <header class="row">
        <div class="col-xs-12" id="title">
            {% image 'http://assets.fhuszti.com/cv/simple/photo_cv.jpg' %}
                <img src="{{ asset_url }}" alt="{{ 'core.header.logo.alt'|trans }}" class="hidden-xs" />
            {% endimage %}

            <h1>
                <a href="{{ path('core_home') }}" title="{{ 'core.header.homepage.link_title'|trans }}">
                    <i class="name">FRAN&Ccedil;OIS HUSZTI</i>
                </a>
            </h1>

            <h3>
                <i class="email">contact@fhuszti.com</i>
            </h3>

            <h3>
                {{ 'core.resume.job_title'|trans }}
            </h3>
        </div>
    </header>

    {% include 'core/blocks/resume/block_summary.html.twig' %}

    {% include 'core/blocks/resume/block_experience.html.twig' %}

    {% include 'core/blocks/resume/block_academics.html.twig' %}
</div>