<section class="col-xs-12 col-md-4" id="quickLook">
    <header class="row">
        <div class="col-xs-12">
            <h1>{{ 'core.resume.quick_look'|trans }}</h1>
        </div>
    </header>
    <div class="row col-xs-12">
        <h3>{{ 'core.resume.knowledge.title'|trans }}</h3>

        <ul class="col-xs-6">
            {% for i in 0..5 %}
                <li>
                    <i class='brand'>
                        {{ ('core.resume.knowledge.left_list.' ~ i)|trans }}
                    </i>
                </li>
            {% endfor %}
        </ul>
        <ul class="col-xs-6">
            {% for i in 0..4 %}
                <li>
                    <i class='{% if loop.last %}expression{% else %}brand{% endif %}'>
                        {{ ('core.resume.knowledge.right_list.' ~ i)|trans }}
                    </i>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'core.resume.key_skills.title'|trans }}</h3>

            <ul>
                {% for i in 0..4 %}
                    <li>
                        {{ ('core.resume.key_skills.list.' ~ i)|trans }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'core.resume.qualities.title'|trans }}</h3>

            <ul>
                {% for i in 0..4 %}
                    <li>
                        {{ ('core.resume.qualities.list.' ~ i)|trans }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'core.resume.details.title'|trans }}</h3>

            <ul>
                {% for i in 0..1 %}
                    <li>
                        {{ ('core.resume.details.list.' ~ i)|trans }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'core.resume.hobbies.title'|trans }}</h3>

            <p class="justified-content">
                {{ 'core.resume.hobbies.content'|trans }}
            </p>
        </div>
    </div>
</section>
