<div class="col-xs-12 tab-pane fade" id="project3">
    <div class="row">
        <h2>
        	&ldquo;{{ 'core.footer.projects.louvre.title'|trans }}&rdquo;
        </h2>

        <h4>
        	<a href="http://louvre.fhuszti.tech/{{ app.request.locale }}" title="{{ 'core.projects.available.link_title'|trans }}" target="_blank" rel="noopener noreferrer">
        		{{ 'core.projects.available.title'|trans }}
        	</a> 
        	<span class="label label-info">
        		{{ 'core.projects.available.progress'|trans }}
        	</span>
        </h4>
        <hr />
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	{{ 'core.projects.panel.skills_to_validate'|trans }}
                    </h3>
                </div>

                <div class="list-group">
                    {% for i in 0..2 %}
                    	<p class="list-group-item">
                    		{{ ('core.projects.panel.third.skills.' ~ i)|trans }}
                    	</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	{{ 'core.projects.panel.technicals_to_validate'|trans }}
                    </h3>
                </div>

                <div class="list-group">
                    {% for i in 0..2 %}
                    	<p class="list-group-item">
                    		{{ ('core.projects.panel.third.technicals.' ~ i)|trans }}
                    	</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	{{ 'core.projects.panel.deliverables'|trans }}
                    </h3>
                </div>

                <div class="list-group">
                    {% for i in 0..2 %}
                    	<p class="list-group-item">
                    		{{ ('core.projects.panel.third.deliverables.' ~ i)|trans }}
                    	</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
