<div class="row">
    <div class="col-xs-12" id="experience">
        <h3>
            {{ 'core.resume.experience.title'|trans }}
        </h3>
        <hr class="visible-xs-block">

        <p>
            <a href="http://louvre.fhuszti.tech/{{ app.request.locale }}/" title="&ldquo;{{ 'core.footer.projects.louvre.link_title'|trans }}&rdquo;">
                &ldquo;{{ 'core.footer.projects.louvre.title'|trans }}&rdquo;
            </a>
            <span class="pull-right">
                {{ 'core.resume.experience.louvre.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..2 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.third.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs-block">

        <p>
            <a href="http://microcms.fhuszti.tech/" title="&ldquo;{{ 'core.footer.projects.microcms.link_title'|trans }}&rdquo;">
                &ldquo;{{ 'core.footer.projects.microcms.title'|trans }}&rdquo;
            </a>
            <span class="pull-right">
                {{ 'core.resume.experience.microcms.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..3 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.second.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs-block">

        <p>
            <a href="{{ path('core_interactive') }}" title="{{ 'core.header.interactive.link_title'|trans }}">
                {{ 'core.header.interactive.title'|trans }}
            </a>
            <span class="pull-right">
                {{ 'core.resume.experience.interactive.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..1 %}
                    <span class="label label-success">
                        {{ ('core.resume.experience.interactive.description.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
        <hr class="visible-xs-block">

        <p>
            <a href="http://tours.fhuszti.tech/" title="&ldquo;{{ 'core.footer.projects.tours.link_title'|trans }}&rdquo;">
                &ldquo;{{ 'core.footer.projects.tours.title'|trans }}&rdquo;
            </a>
            <span class="pull-right">
                {{ 'core.resume.experience.tours.date'|trans }}
            </span>
            <span class="normalWeight">
                {% for i in 0..2 %}
                    <span class="label label-success">
                        {{ ('core.projects.panel.first.technicals.' ~ i)|trans }}</span>
                    &nbsp;
                {% endfor %}
            </span>
        </p>
    </div>
</div>
