<section class="row">
    <div class="col-sm-6 col-md-4 hiddenOverflow">
        <a href="{{ path('core_resume') }}" title="{{ 'core.header.resume.link_title'|trans }}">
            <div id="ctaPart1" class="col-xs-12 ctaPart">
                <h2 class="ctaPartTitle">
                	{{ 'core.header.resume.title'|trans }}
                </h2>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 hiddenOverflow">
        <a href="{{ path('core_interactive') }}" title="{{ 'core.header.interactive.link_title'|trans }}">
            <div id="ctaPart2" class="col-xs-12 ctaPart">
                <h2 class="ctaPartTitle">
                	{{ 'core.header.interactive.title'|trans }}
                </h2>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-4 hiddenOverflow">
        <a href="{{ path('core_projects') }}" title="{{ 'core.header.projects.link_title'|trans }}">
            <div id="ctaPart3" class="col-xs-12 ctaPart">
                <h2 class="ctaPartTitle">
                	{{ 'core.header.projects.title'|trans }}
                </h2>
            </div>
        </a>
    </div>
</section>