<section class="row" id="skillsRow">
    <h3>{{ 'core.home.skills'|trans }}</h3>

    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://developer.mozilla.org/en/docs/Web/Guide/HTML/HTML5" title="HTML5">
            {% image 'http://assets.fhuszti.com/homepage/html5.png' %}
                <img src="{{ asset_url }}" alt="HTML5" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://developer.mozilla.org/en/docs/Web/CSS/CSS3" title="CSS3">
            {% image 'http://assets.fhuszti.com/homepage/css3.png' %}
                <img src="{{ asset_url }}" alt="CSS3" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://www.javascript.com/" title="JavaScript">
            {% image 'http://assets.fhuszti.com/homepage/javascript.png' %}
                <img src="{{ asset_url }}" alt="JavaScript" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://jquery.com/" title="jQuery">
            {% image 'http://assets.fhuszti.com/homepage/jquery.png' %}
                <img src="{{ asset_url }}" alt="jQuery" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://secure.php.net/" title="PHP">
            {% image 'http://assets.fhuszti.com/homepage/php.png' %}
                <img src="{{ asset_url }}" alt="PHP" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://www.mysql.com/" title="MySQL">
            {% image 'http://assets.fhuszti.com/homepage/mysql.png' %}
                <img src="{{ asset_url }}" alt="MySQL" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://wordpress.org/" title="WordPress">
            {% image 'http://assets.fhuszti.com/homepage/wordpress.png' %}
                <img src="{{ asset_url }}" alt="WordPress" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://symfony.com/" title="Symfony">
            {% image 'http://assets.fhuszti.com/homepage/symfony.png' %}
                <img src="{{ asset_url }}" alt="Symfony" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="http://twig.sensiolabs.org/" title="Twig">
            {% image 'http://assets.fhuszti.com/homepage/twig.png' %}
                <img src="{{ asset_url }}" alt="Twig" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://getbootstrap.com/" title="BootStrap">
            {% image 'http://assets.fhuszti.com/homepage/bootstrap.png' %}
                <img src="{{ asset_url }}" alt="BootStrap" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="https://phaser.io/" title="Phaser">
            {% image 'http://assets.fhuszti.com/homepage/phaser.png' %}
                <img src="{{ asset_url }}" alt="Phaser" />
            {% endimage %}
        </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <a href="http://silex.sensiolabs.org/" title="Silex">
            {% image 'http://assets.fhuszti.com/homepage/silex.png' %}
                <img src="{{ asset_url }}" alt="Silex" />
            {% endimage %}
        </a>
    </div>
</section>
