<footer class="navbar navbar-default" id="footer">
  	<div class="col-xs-12 col-sm-4 col-sm-push-4">
  		<h4>François Huszti</h4>

  		<p>
  			<em>contact@fhuszti.tech</em>
  			<br />
      		<a href="{{ 'core.footer.contact.github.link'|trans }}" title="{{ 'core.footer.contact.github.title'|trans }}" class="navbar-link" target="_blank" rel="noopener noreferrer">
	      		GitHub
	      	</a> | 
	      	<a href="{{ 'core.footer.contact.linkedin.link'|trans }}" title="{{ 'core.footer.contact.linkedin.title'|trans }}" class="navbar-link" target="_blank" rel="noopener noreferrer">
	      		LinkedIn
	      	</a>
  		</p>
  	</div>

  	<div class="col-xs-12 col-sm-4 col-sm-push-4">
  		<h4>{{ 'core.footer.resume.title'|trans|striptags('<i>')|raw }}</h4>

  		<ul>
      		<li>
      		    <a href="{{ path('core_resume') }}" title="{{ 'core.footer.resume.simple.link_title'|trans }}" class="navbar-link">
	      			{{ 'core.footer.resume.simple.title'|trans }}
	      		</a>
      		</li>

      		<li>
      			<a href="{{ path('core_interactive') }}" title="{{ 'core.footer.resume.interactive.link_title'|trans }}" class="navbar-link">
	      			{{ 'core.footer.resume.interactive.title'|trans }}
	      		</a>
      		</li>
  		</ul>
  	</div>

    <div class="col-xs-12 col-sm-4 col-sm-pull-8">
        <h4>{{ 'core.header.projects.title'|trans }}</h4>

        <ul>
            <li>
                <a href="http://www.udem37.fr/" title="&ldquo;{{ 'core.footer.projects.udem37.link_title'|trans }}&rdquo;" class="navbar-link" target="_blank" rel="noopener noreferrer">
                    <em>
                        &ldquo;{{ 'core.footer.projects.udem37.title'|trans }}&rdquo;
                    </em>
                </a>
                <br />
                {{ 'core.footer.projects.school'|trans }} / {{ 'core.footer.projects.client'|trans }}
            </li>

            <li>
                <a href="http://nao.fhuszti.tech" title="&ldquo;{{ 'core.footer.projects.nao.link_title'|trans }}&rdquo;" class="navbar-link" target="_blank" rel="noopener noreferrer">
                    <em>
                        &ldquo;{{ 'core.footer.projects.nao.title'|trans }}&rdquo;
                    </em>
                </a>
                <br />
                {{ 'core.footer.projects.school'|trans }}
            </li>

            <li>
                <a href="http://louvre.fhuszti.tech/{{ app.request.locale }}" title="&ldquo;{{ 'core.footer.projects.louvre.link_title'|trans }}&rdquo;" class="navbar-link" target="_blank" rel="noopener noreferrer">
                    <em>
                        &ldquo;{{ 'core.footer.projects.louvre.title'|trans }}&rdquo;
                    </em>
                </a>
                <br />
                {{ 'core.footer.projects.school'|trans }}
            </li>

            <li>
                <a href="http://microcms.fhuszti.tech" title="&ldquo;{{ 'core.footer.projects.microcms.link_title'|trans }}&rdquo;" class="navbar-link" target="_blank" rel="noopener noreferrer">
                    <em>
                        &ldquo;{{ 'core.footer.projects.microcms.title'|trans }}&rdquo;
                    </em>
                </a>
                <br />
                {{ 'core.footer.projects.school'|trans }}
            </li>

            <li>
                <a href="http://tours.fhuszti.tech" title="&ldquo;{{ 'core.footer.projects.tours.link_title'|trans }}&rdquo;" class="navbar-link" target="_blank" rel="noopener noreferrer">
                    <em>
                        &ldquo;{{ 'core.footer.projects.tours.title'|trans }}&rdquo;
                    </em>
                </a>
                <br />
                {{ 'core.footer.projects.school'|trans }}
            </li>
        </ul>
    </div>
</footer>
