{% extends "layout.html.twig" %}
{% import "macros/_macro_meta_tags.html.twig" as macroMetaTags %}

{% set meta_title %}{{ 'core.projects.meta.title'|trans }}{% endset %}

{% set meta_description %}
{{ 'core.projects.meta.description'|trans }}
{% endset %}

{% set meta_url %}
{{ url('core_projects') }}
{% endset %}

{% block title %}
    {{ meta_title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ macroMetaTags.meta_tags(meta_title, meta_description, meta_url ) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/projects.css') }}" />
{% endblock %}

{% block body %}
	<div class="jumbotron">
        <p class="container-fluid">
            {{ 'core.projects.intro'|trans|striptags('<a><i>')|raw }}
        </p>
    </div>

    <!-- Tabs display -->
    <div class="row">
	    <ul class="nav nav-pills nav-justified" id="tabLinks">
	        <li>
	        	<a href="#project1" data-toggle="tab">
	        		{{ 'core.projects.tab'|trans }} n°1
	        	</a>
	        </li>
	        <li>
	        	<a href="#project2" data-toggle="tab">
	        		{{ 'core.projects.tab'|trans }} n°2
	        	</a>
	        </li>
	        <li>
	        	<a href="#project3" data-toggle="tab">
	        		{{ 'core.projects.tab'|trans }} n°3
	        	</a>
	        </li>
	        <li>
	        	<a href="#project4" data-toggle="tab">
	        		{{ 'core.projects.tab'|trans }} n°4
	        	</a>
	        </li>
	        <li>
	        	<a href="#project5" data-toggle="tab">
	        		{{ 'core.projects.tab'|trans }} n°5
	        	</a>
	        </li>
	    </ul>
	</div>

	<section class="row tab-content">
	    <div class="col-xs-12 tab-pane fade active in">
	        <h2 id="centeredTitle">
	        	{{ 'core.projects.faketab'|trans }}
	        </h2>
	    </div>

	    {% include 'core/projects/blocks/_project_1_tab.html.twig' %}

	    {% include 'core/projects/blocks/_project_2_tab.html.twig' %}

	    {% include 'core/projects/blocks/_project_3_tab.html.twig' %}

	    {% include 'core/projects/blocks/_project_4_tab.html.twig' %}

	    {% include 'core/projects/blocks/_project_5_tab.html.twig' %}
	</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/projects.js') }}"></script>
{% endblock %}
