<div style="width:100%;height:50px;background-color:#f8f8f8;border-bottom:1px solid rgb(0,72,0);display:flex;justify-content:space-around;">
	<div style="margin-top:5px;width:25%;padding-left:10px;">
		<a href="{{ path('core_home') }}" title="{{ 'core.header.logo.alt'|trans }}">
            <img src="{{ imgUrl }}" alt="{{ 'core.header.logo.alt'|trans }}" style="height:40px;" />
		</a>
	</div>
</div>

<div class="row" style="margin-top:10px;">
	<em>{{ 'core.home.mail.body.title'|trans }}</em>
</div>

<div class="row">
	<p>
		<b>{{ entity.name }}</b>
		<br />
		<b>{{ entity.email }}</b>
	</p>
</div>

<div class="row">
	<p>
		{{ entity.content|nl2br }}
	</p>
</div>
